.header {
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px solid var(--color-gray);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--container-width);
  margin: 0 auto;
}

.header__logo {
  margin: 0;
  color: var(--color-blue-400);
  font-weight: 600;
  font-size: var(--font-size-500);
  font-family: "Playfair Display", serif;
  text-decoration: none;
}

.header__nav {
  position: absolute;
  right: 0;
  height: 100%;
}

.nav_header__list {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
